# Sensitive files
.env

# Data & Cache files
data/
*.jsonl
*.json
*.log
src/curator/*.log

# Reports
reports/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
**/.ipynb_checkpoints/

# Python Cache & Bytecode
__pycache__/
*/__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual Environments (falls vorhanden)
.venv/
venv/
env/

# Lokale Caches & Datenbanken
src/evaluator/wandb/
src/evaluator/mlflow.db
wandb/
results/
untitled.txt
"Projektstruktur *.pdf"
